@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
    color: #343a40;
}

.navbar .nav-link {
    color: #fff;
    font-size: 1rem;
}

.navbar .nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.navbar img {
    margin-right: 15px;
}

.container h3 {
    color: #503c9d;
}

.table {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table th {
    background-color: #503c9d;
    color: #fff;
}

.table td {
    color: #343a40;
}


footer {
    background-color: #503c9d;
    color: #fff;
}

footer h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

footer p {
    font-size: 0.9rem;
}

footer .container {
    padding: 20px;
}

footer .row {
    justify-content: space-between;
}

@media (max-width: 768px) {
    .navbar .nav-link {
        font-size: 0.9rem;
    }

    .container {
        padding: 10px;
    }

    .table {
        font-size: 0.9rem;
    }

    footer h5 {
        font-size: 1rem;
    }

    footer p {
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    .navbar .nav-link {
        font-size: 0.8rem;
    }

    .navbar img {
        width: 80px;
        margin-right: 10px;
    }

    .container {
        padding: 5px;
    }

    h3 {
        font-size: 1.2rem;
    }

    .table {
        font-size: 0.8rem;
    }

    footer h5 {
        font-size: 0.9rem;
    }

    footer p {
        font-size: 0.7rem;
    }

    footer .container {
        padding: 10px;
    }
}
